{% extends 'modelo.html' %}
{% block conteudo %}

<div class="container-fluid">

<div class="row mx-auto mt-3">
    <div class="col-4"><img src="/static/img/empresa/empresa1.png" class="img-fluid mx-auto shadow-lg " alt="..."></div>
    <div class="col-4"><img src="/static/img/empresa/empresa2.png" class="img-fluid mx-auto shadow-lg" alt="..." ></div>
    <div class="col-4"><img src="/static/img/empresa/empresa3.png" class="img-fluid mx-auto shadow-lg" alt="..." ></div>
</div>

<div class="row text-center mt-3">
<h1>Bem-vindo à YouTech</h1>
    <h4>Transformando Ideias em Tecnologia!</h4>
</div>

<div class="row my-5">
    <div class="col-6 px-5 text-center">
        <p class="fs-5">Na YouTech, estamos comprometidos em fornecer soluções de Tecnologia da Informação (TI) inovadoras e eficientes para impulsionar o sucesso de sua empresa. Nossa equipe altamente qualificada e apaixonada trabalha incansavelmente para atender às suas necessidades específicas. Aqui estão alguns dos serviços de TI que oferecemos:</p>
        <img src="/static/img/linguagens.png" class="img-fluid" alt="..." style="width: 100%;">
    </div>
    
    <div class="col-6">
        <div class="row">
            <div class="col-4" >
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-1-list" data-bs-toggle="list" href="#list-1" role="tab" aria-controls="list-home">Desenvolvimento de Websites Personalizados</a>
                <a class="list-group-item list-group-item-action" id="list-2-list" data-bs-toggle="list" href="#list-2" role="tab" aria-controls="list-profile">Desenvolvimento de Aplicações Móveis</a>
                <a class="list-group-item list-group-item-action" id="list-3-list" data-bs-toggle="list" href="#list-3" role="tab" aria-controls="list-messages">Sistemas de Gestão Empresarial (ERP)</a>
                <a class="list-group-item list-group-item-action" id="list-4-list" data-bs-toggle="list" href="#list-4" role="tab" aria-controls="list-settings">Consultoria em Segurança da Informação</a>
                <a class="list-group-item list-group-item-action" id="list-5-list" data-bs-toggle="list" href="#list-5" role="tab" aria-controls="list-settings">Serviços de Hospedagem e Cloud</a>
                <a class="list-group-item list-group-item-action" id="list-6-list" data-bs-toggle="list" href="#list-6" role="tab" aria-controls="list-settings">Integração de Sistemas</a>
                <a class="list-group-item list-group-item-action" id="list-7-list" data-bs-toggle="list" href="#list-7" role="tab" aria-controls="list-settings">Desenvolvimento de E-commerce</a>
                <a class="list-group-item list-group-item-action" id="list-8-list" data-bs-toggle="list" href="#list-8" role="tab" aria-controls="list-settings">Análise de Dados e Business Intelligence</a>
               
              </div>
            </div>

            <div class="col-6" >
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-1-list">Transformamos sua presença online com sites modernos, responsivos e intuitivos, proporcionando uma experiência única aos seus visitantes.</div>
                <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-2-list">Criamos aplicativos móveis sob medida, alinhados com suas metas e valores, para atingir seu público-alvo onde quer que estejam.</div>
                <div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-3-list">Otimizamos seus processos internos com soluções de ERP personalizadas, melhorando a eficiência operacional e a tomada de decisões.</div>
                <div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-4-list">Protegemos seus ativos digitais, oferecendo avaliações de segurança, implementação de políticas e soluções avançadas para manter sua empresa segura contra ameaças cibernéticas.</div>
                <div class="tab-pane fade" id="list-5" role="tabpanel" aria-labelledby="list-5-list">Oferecemos opções flexíveis de hospedagem e migração para a nuvem, garantindo a escalabilidade e a acessibilidade de seus dados a qualquer momento.</div>
                <div class="tab-pane fade" id="list-6" role="tabpanel" aria-labelledby="list-6-list">Facilitamos a comunicação entre diferentes sistemas, melhorando a eficiência e a colaboração entre as diversas partes de sua infraestrutura tecnológica.</div>
                <div class="tab-pane fade" id="list-7" role="tabpanel" aria-labelledby="list-7-list">Impulsione suas vendas online com plataformas de comércio eletrônico personalizadas, intuitivas e adaptadas às necessidades do seu negócio.</div>
                <div class="tab-pane fade" id="list-8" role="tabpanel" aria-labelledby="list-8-list">Transformamos dados em insights acionáveis, fornecendo ferramentas e análises para impulsionar suas estratégias de negócios.</div>
               
              </div>
            </div>
        
          </div>

    </div>
</div>


</div>


{% endblock %}